* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
.App {
  margin: 10rem auto;
  width: fit-content;
  /* box-shadow: 1px 1px; */
  z-index: 9;
}
.single-todo {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border: 1px solid gray;
  border-radius: 0.4rem;
}
.single-todo > * {
  margin: 0 1rem;
}
